- var debugSNS = false
if (debugSNS || theme.twitter_username)
    a(target="_blank" href=`//twitter.com/${theme.twitter_username}`)
        i.iconfont.icon-twitter
// Github
if (debugSNS || theme.github_username)
    a(target="_blank" href=`//github.com/${theme.github_username}`)
        i.iconfont.icon-github
// Ins
if (debugSNS || theme.instagram_username)
    a(target="_blank" href=`//www.instagram.com/${theme.instagram_username}`)
        i.iconfont.icon-ins
// 知乎
if (debugSNS || theme.zhihu_username)
    a(target="_blank" href=`//zhihu.com/${theme.zhihu_username}`)
        i.iconfont.icon-zhihu
// 领英
if (debugSNS || theme.linkedin_username)
    a(target="_blank" href=`//www.linkedin.com/in/${theme.linkedin_username}`)
        i.iconfont.icon-linkedin
// 脸书
if (debugSNS || theme.facebook_username)
    a(target="_blank" href=`//www.facebook.com/${facebook_username}`)
        i.iconfont.icon-tian7_facebook
