- var debugSNS = false
if (debugSNS || theme.social.twitter)
    a(title="twitter" target="_blank" rel="noopener nofollow" href=`//twitter.com/${theme.social.twitter}`)
        i.iconfont.icon-twitter
// Github
if (debugSNS || theme.social.github)
    a(title="github" target="_blank" rel="noopener nofollow" href=`//github.com/${theme.social.github}`)
        i.iconfont.icon-github
// Ins
if (debugSNS || theme.social.instagram)
    a(title="instagram" target="_blank" rel="noopener nofollow" href=`//www.instagram.com/${theme.social.instagram}`)
        i.iconfont.icon-ins
// RSS
if (debugSNS || config.feed && config.feed.enable)
    a(title="rss" target="_blank" rel="noopener nofollow" href= url_for(config.feed.path))
        i.iconfont.icon-rss
// 知乎
if (debugSNS || theme.social.zhihu)
    a(title="zhihu" target="_blank" rel="noopener nofollow" href=`//zhihu.com/${theme.social.zhihu}`)
        i.iconfont.icon-zhihu
// 领英
if (debugSNS || theme.social.linkedin)
    a(title="linkedin" target="_blank" rel="noopener nofollow" href=`//www.linkedin.com/in/${theme.social.linkedin}`)
        i.iconfont.icon-linkedin
// 脸书
if (debugSNS || theme.social.facebook)
    a(title="facebook" target="_blank" rel="noopener nofollow" href=`//www.facebook.com/${theme.social.facebook}`)
        i.iconfont.icon-tian7_facebook
