<style>
    .info-box {
        padding: 15px;
        width: 315px;
        background-color: rgba(255, 255, 255, .8);
    }
</style>
<%
    // 优先使用专用的about页面头像, 如果没有设置才是用主页的用户头像
    var avatar = theme.user_intro_avatar
%>
<div style="background-color: #e1e1e1">
    <div class="container is-flex justify-center">
        <div class="info-box content">
            <h1><strong><%- theme.user_name || '' %></strong></h1>
            <span class="sub-title"><%- theme.user_description || '' %></span>
            <p class="contact"><%- theme.user_contact || ''%></p>
            <article>
                <p><%- theme.user_introduction || ''%></p>
            </article>
        </div>
        <div class="avatar-box" style="align-self: flex-end; font-size: 0;">
            <img class="avatar" src="<%- avatar %>">
        </div>
    </div>
</div>