extends widget/layout.pug

block append link
  link(rel='stylesheet', href="/style/home.css")

block content
  article.post-container.is-flex.is-justify-content-center.section
    div.container.is-max-widescreen
      div.columns
        // 左侧博客内容
        section.column.is-9
            if page.posts.length > 0
                each post in page.posts.sort('date', -1).limit(2).toArray()
                  article.post-item-card
                    img(src="https://api.ixiaowai.cn/gqapi/gqapi.php" style="width: 100%")

                    section.content.post-card-content
                      div.is-flex.is-justify-content-space-between
                        aside
                          if post.tags && post.tags.length > 0
                            each tag, idx in post.tags.toArray()
                              i.tag.post-item-tag= tag.name
                        if post.date
                          time(datetime=post.date.toJSON())= date(post.date, date_format)
                      h2
                        a(href=url_for(post.path))= post.title || ''
                      p= truncate(strip_html(post.content), {length: 600, omission: '..'})
        // 右侧侧边栏信息
        aside.column.is-3
          div.aside-card-container.profile-info-container
            // todo: 使用取色工具动态阴影
            // todo: 演示文章用矢量图？
            section.is-flex.is-justify-content-center
              if (config.avatar)
                img.avatar(src= config.avatar || "https://api.ixiaowai.cn/gqapi/gqapi.php2")
              else
                div.avatar
            h3.user-name= theme.user_name || config.author || 'User Name'
            - var placeholderText = 'May the Force be with you'
            blockquote.has-text-centered.is-relative.is-inline-block2
              span(style="margin-bottom: 5px;")= theme.user_description || placeholderText
            if (theme.user_location)
              address.has-text-centered
                i.iconfont.icon-location(style="margin-right: 5px;")
                span= theme.user_location || 'In the dust'
            section.sns-container.is-flex.is-justify-content-center
              - var debugSNS = false
              if (debugSNS || theme.twitter_username)
                a(target="_blank" href=`//twitter.com/${theme.twitter_username}`)
                  i.iconfont.icon-twitter
              // Github
              if (debugSNS || theme.github_username)
                a(target="_blank" href=`//twitter.com/${theme.github_username}`)
                  i.iconfont.icon-github
              // Ins
              if (debugSNS || theme.instagram_username)
                a(target="_blank" href=`//www.instagram.com/${theme.instagram_username}`)
                  i.iconfont.icon-ins
              // 知乎
              if (debugSNS || theme.zhihu_username)
                a(target="_blank" href=`//twitter.com/${theme.zhihu_username}`)
                  i.iconfont.icon-zhihu
              // 领英
              if (debugSNS || theme.linkedin_username)
                a(target="_blank" href=`//www.linkedin.com/in/${theme.linkedin_username}`)
                  i.iconfont.icon-linkedin
              // 脸书
              if (debugSNS || theme.facebook_username)
                a(target="_blank" href=`//www.facebook.com/${facebook_username}`)
                  i.iconfont.icon-tian7_facebook

  #paginator!= paginator()
