extends widget/layout.pug

block append link
  link(rel='stylesheet', href="/style/home.css")

block content
  article.post-container.is-flex.is-justify-content-center.section
    div.container.is-max-widescreen
      div.columns
        section.column.is-9
            if page.posts.length > 0
                article.top-post-container.is-flex
                  - var posts= page.posts.sort('date', -1).limit(3).toArray()
                    div.post-one.content.is-flex-grow-3
                      h2= posts[0].title
                      h3= date(posts[0].date)
                    section.is-flex-grow-2.is-flex.is-flex-direction-column
                      div.post-two.is-flex-grow-1.content.debug
                        h3= posts[1].title
                        h4= date(posts[1].date)
                      div.post-three.is-flex-grow-1.content
                        h3= posts[2].title
                        h4= date(posts[2].date)

                each post, idx in page.posts.sort('date', -1).limit(10).toArray()
                  // TODO: 在移动响应模式下展示前两个
                  if idx > 3
                    .post-item-card
                      a(href=url_for(post.path))= post.title
                      if post.date
                        time(datetime=post.date.toJSON())= date(post.date, date_format)
        aside.column.is-3
          div.profile-info-container
            section.avatar
              if (config.avatar)
                img(src= config.avatar)
              else
                div.iconfont.avatar &#xe82c;


  #paginator!= paginator()
