<style>
    .post-hover:hover {
        box-shadow: inset 0 0 100px #000;
        transition: box-shadow .2s;
    }

    .primary-post-container{
        height: 377px;
        margin-bottom: 15px;
    }

    .primary-post-container .title {
        color: #fff;
    }

    .primary-post-container .sub-title {
        color: #fff;
    }
    .primary-post-container .date {
        color: #f1f1f1;
    }

    .primary-1-color {
        background-color: yellowgreen;
    }

    .primary-2-color {
        background-color: darkcyan;
    }

    .primary-3-color {
        background-color: sienna;
    }

    .post-content-text {
        color: #fff;
    }

    .primary-item-main {
        width: 100%;
        display: flex;
        align-items: center;
        background-size: cover;
    }

    .primary-item-main > div {
        height: 140px;
    }

    .primary-item-sub {
        display: flex;
        align-items: center;
        height: 48.6%;
        background-size: cover;
    }

    .primary-item-sub > div {
        height: 100px;
        display: flex;
        align-items: center;

        padding-left: 15px;
    }

    /*次要的 post 内容样式*/

    .sub-post-container {
        height: 234px;
        display: flex;
        margin-bottom: 15px;
    }

    .sub-post-container .post-content {
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid #e1e1e1;
    }

    /*用戶狀態欄*/

    .user-info {
        max-width: 260px;
        position: fixed;
    }

    .user-info .avatar-wrap {
        height: 150px;
        padding-top: 20px;
        margin-bottom: 25px;
    }

    .user-info .avatar {
        width: 155px;
        height: 155px;
        border-radius: 50%;
    }

    .sns-container {
        flex-wrap: wrap;
    }
</style>
<%
function getPostCoverPhoto(post) {
    var content = post.content
    var regex = /<img src="\S+"/
    var result = regex.exec(content)

    // is post first img
    if (result) {
        return result[0].split('src="')[1].split('"')[0]
    }

    // is anisina font-matter
    if (post.header_img){
        return post.header_img
    }
    return ''
}
%>
<div style="background: #f5f8f9;">
    <div id="main-container" class="container" style="padding-top: 15px;">
        <div class="is-flex main-content">
            <section>
                <%- partial('_partial/primary_content', {posts: page.posts, getPostCoverPhoto: getPostCoverPhoto}) %>
                <% page.posts.each (function (post, index) { %>
                    <% if ( index > 2 ){%>
                        <a class="post-hover" href="<%= config.root + post.path %>">
                            <div class="sub-post-container is-flex content-background">
                                <% if (getPostCoverPhoto(post)){%>
                                    <div class="flex-1 post-avatar"
                                         style="margin: 12px;background-image: url('<%- getPostCoverPhoto(post) %>')" >
                                    </div>
                                <%}%>
                                <div class="flex-2 post-content is-flex align-center">
                                    <div class="content">
                                        <h3><%= post.title || 'title' %></h3>
                                        <p>
                                            <%- truncate(strip_html(post.content), {length: 180, omission: '..'}) %>
                                        </p>
                                        <p><%= post.date.format(config.date_format) %></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <%}%>
                <% })%>
                <!--翻頁-->
                <nav class="pagination is-flex" style="justify-content: flex-end">
                    <% if (is_home()){%>
                        <% if (page.prev){%>
                            <a class="pagination-previous" href="<%- config.root %><%- page.prev_link %>">Previous</a>
                        <%}%>
                        <% if (page.next){ %>
                            <a class="pagination-next" href="<%- config.root %><%- page.next_link %>">Next page</a>
                        <%}%>
                    <%}%>
                </nav>
            </section>
            <% if(is_home()){ %>
                <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
            <%}%>
        </div>
    </div>
</div>
