extends widget/layout.pug

block append link
  link(rel='stylesheet', href='/style/post.css')
  link(rel='stylesheet', href='/style/highlight-theme-light.css')
  script(src="/jslib/highlight.pack.js")

block content
    -
        function getPostCoverImg(post) {
            const content = post.content
            const regex = /<img src="\S+"/
            const result = regex.exec(content)

            // is font-matter
            if (post.header_img) {
                return post.header_img
            }
            // is post first img
            if (result) {
                return result[0].split('src="')[1].split('"')[0]
            }
        }
    main.container.is-max-widescreen.content.section.post-page
        .columns
            .column.is-9
                - var imgURL = getPostCoverImg(page)
                if imgURL
                    header.post-cover
                        img(src= imgURL)
                .is-flex.is-justify-content-space-between.is-align-items-center
                    div
                        if page.tags && page.tags.length > 0
                            each tag in page.tags.toArray()
                                a(href= `/tags/${tag.name}`)
                                    i.tag.post-item-tag= tag.name
                    if page.date
                        time(datetime=page.date.toJSON())= date(page.date, date_format)
                h1(style="margin-top: 20px;")= page.title
                article.post-content!= page.content
            .column.is-3.is-hidden-mobile
                != toc(page.content, {list_number: false})

    // Next post, maybe most people don't need it.
    //#paginator!= paginator()
block script
  script hljs.initHighlighting();
