
<%
    var defaultTitle = 'Title is empty'

    var anisina_cover = 'header-img'

    var firstArticle = page.posts.data[0]
    var secondArticle = page.posts.data[1]
    var thirdArticle = page.posts.data[2]

    var cover_photo = firstArticle.cover_photo || firstArticle.header_img || ''


    function getArticleFirstPhoto(post) {
        var content = post.content
        var regex = /<img src="\S+"/
        var result = regex.exec(content)

        if (result) {
            console.log(result[0].split('src="')[1].split('"')[0])
            return result[0].split('src="')[1].split('"')[0]
        }

        return ''
    }
%>

<div class="primary-post-container is-flex content-background">
  <div class="column is-7">
      <a href="<%= config.root + firstArticle.path %>">
        <div class="primary-item-main full-height primary-1-color post-hover" style="background-image: url('<%= getArticleFirstPhoto(firstArticle) || cover_photo  %>')">
            <div class="full-width">
                <div class="content has-text-centered">
                    <% firstArticle.tags.forEach( function(tag){%>
                        <span class="tag"><%= tag %></span>
                    <%})%>
                    <h1 class="title"><%= firstArticle.title || defaultTitle %></h1>
                    <p class="sub-title"><%= firstArticle.subtitle || 'subtitle'%></p>
                    <p class="date"><%= firstArticle.date.format(config.date_format) %></p>
                </div>
            </div>
        </div>
      </a>
  </div>
  <div class="column is-5" style="padding-left: 0;">
      <div class="full-height is-flex flex-column justify-space-between">

          <div class="primary-item-sub primary-2-color" style="background-image: url('<%= getArticleFirstPhoto(secondArticle) || cover_photo  %>')" >
              <a class="full-width has-padding" href="<%= config.root + secondArticle.path %>">
                  <div class="full-width">
                      <div class="content">
                          <h2 class="title"><%= secondArticle.title || defaultTitle%></h2>
                          <p class="sub-title"><%= secondArticle.subtitle || 'subtitle'%></p>
                          <p class="date"><%= secondArticle.date.format(config.date_format) %></p>
                      </div>
                  </div>
              </a>
          </div>
          <div class="primary-item-sub primary-3-color" style="background-image: url('<%= getArticleFirstPhoto(thirdArticle) || cover_photo  %>')" >
              <a class="full-width has-padding" href="<%= config.root + thirdArticle.path %>">
                  <div class="full-width">
                      <div class="content">
                          <h2 class="title">
                              <%= thirdArticle.title || defaultTitle%>
                          </h2>
                          <p class="sub-title"><%= thirdArticle.subtitle || 'subtitle'%></p>
                          <p class="date"><%= thirdArticle.date.format(config.date_format) %></p>
                      </div>
                  </div>
              </a>
          </div>
      </div>
  </div>
</div>

<% page.posts.each (function (post, index) { %>
    <% if ( index > 2 ){%>
        <%
            var cover_photo = post.cover_photo || post[anisina_cover] || getArticleFirstPhoto(post)
        %>
    <a class="post-hover" href="<%= config.root + post.path %>">
        <div class="sub-post-container is-flex content-background">
          <% if (cover_photo){%>
            <div class="flex-1 post-avatar"
                 style="margin: 12px;background-image: url('<%= cover_photo %>')" >
            </div>
          <%}%>
          <div class="flex-2 post-content is-flex align-center">
              <div class="content">
                  <h3><%= post.title || 'title' %></h3>
                  <p>
                      <%- truncate(strip_html(post.content), {length: 180, omission: '..'}) %>
                  </p>
                  <p><%= post.date.format(config.date_format) %></p>
              </div>
          </div>
        </div>
    </a>
    <%}%>
<% })%>