<style>
  #footer {
    min-height: 10vh;
    background: black;
    color: #fff;
  }

  #footer a {
    color: #e1e1e1;
  }
</style>
<footer id="footer" class="has-text-centered is-flex center">
  <div class="container has-padding">
    <div>
      <div>
        <!--请您保留作者署名, 主题制作来之不易-->
        Theme by <a href="https://github.com/haojen">Haojen Ma</a>
        <br>
        Copyright © <%= config.author || config.title %> <%= date(new Date(), 'YYYY') %>
        <br>
        <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      </div>
    </div>
  </div>
</footer>

<%- js('js/search_core')%>
<%- js('js/script')%>
