<%
    var defaultTitle = 'Null'

    var firstArticle = posts.data[0] || false
    var secondArticle = posts.data[1] || false
    var thirdArticle = posts.data[2] || false
%>
<div class="primary-post-container is-flex content-box clear-padding">
    <div class="column <%- secondArticle ? 'is-7':'is-12'%>">
        <a href="<%= config.root + firstArticle.path %>">
            <div class="primary-item-main full-height post-hover"
                 style="background-image: url('<%- getPostCoverPhoto(firstArticle) %>')">
                <div class="full-width">
                    <div class="content has-text-centered">
                        <h1 class="title text-shadow is-marginless"><%= firstArticle.title || defaultTitle %></h1>
                        <% if (firstArticle.tags){%>
                            <% firstArticle.tags.forEach(function(tag){%>`
                                <span class="tag is-post-tag"><%- tag.name %></span>
                            <%})%>
                        <%}%>
                        <p class="sub-title text-shadow"><%= firstArticle.subtitle || ''%></p>
                        <p class="post-content-text is-marginless text-shadow">
                            <%- truncate(strip_html(firstArticle.content), {length: 150, omission: '..'}) %>
                        </p>
                        <p class="date text-shadow"><%= firstArticle.date.format(config.date_format) %></p>
                        <button class="button is-info is-small is-outlined2">Read More</button>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="column is-5" style="padding-left: 0;">
        <div class="full-height is-flex flex-column justify-space-between">
            <% if (secondArticle){%>
                <div class="primary-item-sub"
                     style="background-image: url('<%- getPostCoverPhoto(secondArticle) %>')" >
                    <a class="post-hover full-width full-height has-padding" href="<%- config.root + secondArticle.path %>">
                        <div class="content">
                            <h3 class="title is-marginless text-shadow"><%- secondArticle.title || defaultTitle%></h3>
                            <% if (secondArticle.tags){%>
                                <% secondArticle.tags.forEach(function(tag){%>
                                    <span class="tag is-post-tag"><%- tag.name %></span>
                                <%})%>
                            <%}%>
                            <p class="sub-title text-shadow"><%- secondArticle.subtitle || ''%></p>
                            <p class="post-content-text text-shadow is-marginless">
                                <%- truncate(strip_html(secondArticle.content), {length: 80, omission: '..'}) %>
                            </p>
                            <p class="date text-shadow clear-padding is-marginless"><%- secondArticle.date.format(config.date_format) %></p>
                            <button class="button is-info is-small">Read More</button>
                        </div>
                    </a>
                </div>
            <%}%>
            <% if (thirdArticle){%>
                <div class="primary-item-sub"
                     style="background-image: url('<%- getPostCoverPhoto(thirdArticle)%>')" >
                    <a class="post-hover full-width full-height has-padding" href="<%- config.root + thirdArticle.path %>">
                        <div class="content">
                            <h3 class="title is-marginless text-shadow">
                                <%= thirdArticle.title || defaultTitle%>
                            </h3>
                            <% if (thirdArticle.tags){%>
                                <% thirdArticle.tags.forEach(function(tag){%>
                                    <span class="tag is-post-tag"><%- tag.name %></span>
                                <%})%>
                            <%}%>
                            <p class="sub-title text-shadow"><%= thirdArticle.subtitle || '' %></p>
                            <p class="is-marginless text-shadow post-content-text">
                                <%- truncate(strip_html(thirdArticle.content), {length: 80, omission: '..'}) %>
                            </p>
                            <p class="date text-shadow is-marginless"><%= thirdArticle.date.format(config.date_format) %></p>
                            <button class="button is-info is-small">Read More</button>
                        </div>
                    </a>
                </div>
            <%}%>
        </div>
    </div>
</div>
